In [7]:
import pandas as pd

Data Cleaning for population data:
Removed the 1st 3 rows before importing, since they did not contain any data

In [16]:
population = pd.read_csv(r'C:\PATH\population.csv')
#Rename 'Country Name' column to ''Country/Region' to match covid recoveries dataset
population = population.rename(columns={'Country Name': 'Country/Region'})

In [17]:
population.head()

,Country/Region,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,NaN

Data Cleaning for Recoveries data:

In [20]:
Recoveries = pd.read_csv(r'C:\PATH\time_series_covid19_recovered_global.csv')

In [21]:
#Check which countries do not align compaared to population and Recoveries due to spelling/naming conventions.
merged_df_rec = Recoveries.merge(population, how='left',left_on=['Country/Region'], right_on=['Country/Region'], indicator=True)
df1_not_in_df2 = merged_df_rec[merged_df_rec['_merge'] == 'left_only'].drop(columns='_merge')
df1_not_in_df2

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
5,NaN,Antarctica,-71.949900,23.347000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Bahamas,25.025885,-78.035889,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Brunei,4.535300,114.727700,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,Burma,21.916200,95.956000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,Congo (Brazzaville),-0.228000,15.827700,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,Congo (Kinshasa),-4.038300,21.758700,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,Diamond Princess,0.000000,0.000000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,Egypt,26.820553,30.802498,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,Gambia,13.443200,-15.310100,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,NaN,Holy See,41.902900,12.453400,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,NaN,Iran,32.427908,53.688046,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,NaN,"Korea, North",40.339900,127.510100,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,"Korea, South",35.907757,127.766922,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,NaN,Kyrgyzstan,41.204380,74.766098,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,Laos,19.856270,102.495496,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,NaN,Micronesia,7.425600,150.550800,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,Russia,61.524010,105.318756,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,NaN,Saint Kitts and Nevis,17.357822,-62.782998,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,Saint Lucia,13.909400,-60.978900,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,Saint Vincent and the Grenadines,12.984300,-61.287200,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,NaN,Slovakia,48.669000,19.699000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,NaN,Summer Olympics 2020,35.649100,139.773700,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,NaN,Syria,34.802100,38.996800,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,NaN,Taiwan*,23.700000,121.000000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,Turkey,38.963700,35.243300,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,US,40.000000,-100.000000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

export the population sheet and rename the country's according to country name in the recoveries dataset using manual search and replace in excel

In [ ]:
population.to_csv(r'C:\PATH\population.csv')

after manual replacement is done, population data is ready for tableau, please note an average of year 2020 and 2021 are used in tableau to calculate recovery rate per 100,000 because there is only data for recoveries in that time period

Data Cleaning for CHE data:

In [24]:
CHE = pd.read_csv(r'C:\PATH\CHE.csv')
#Rename 'Location' column to ''Country/Region' to match covid recoveries dataset
CHE = CHE.rename(columns={'Location': 'Country/Region'})

In [25]:
#Check which countries do not align compaared to population and Recoveries due to spelling/naming conventions.
merged_df_rec2 = Recoveries.merge(CHE, how='left',left_on=['Country/Region'], right_on=['Country/Region'], indicator=True)
df1_not_in_df2 = merged_df_rec2[merged_df_rec2['_merge'] == 'left_only'].drop(columns='_merge')
df1_not_in_df2

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
108,NaN,Antarctica,-71.949900,23.347000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593,NaN,Bolivia,-16.290200,-63.588700,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
660,NaN,Brunei,4.535300,114.727700,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
705,NaN,Burma,21.916200,95.956000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1674,NaN,Congo (Brazzaville),-0.228000,15.827700,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1675,NaN,Congo (Kinshasa),-4.038300,21.758700,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1874,NaN,Diamond Princess,0.000000,0.000000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2689,NaN,Holy See,41.902900,12.453400,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2800,NaN,Iran,32.427908,53.688046,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3018,NaN,"Korea, North",40.339900,127.510100,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3019,NaN,"Korea, South",35.907757,127.766922,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3020,NaN,Kosovo,42.602636,20.902977,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3065,NaN,Laos,19.856270,102.495496,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3166,NaN,Liechtenstein,47.140000,9.550000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3211,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3432,NaN,Micronesia,7.425600,150.550800,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3433,NaN,Moldova,47.411600,28.369900,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3599,Aruba,Netherlands,12.521100,-69.968300,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3600,"Bonaire, Sint Eustatius and Saba",Netherlands,12.178400,-68.238500,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3601,Curacao,Netherlands,12.169600,-68.990000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3602,Sint Maarten,Netherlands,18.042500,-63.054800,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3603,NaN,Netherlands,52.132600,5.291300,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4044,NaN,Russia,61.524010,105.318756,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4397,NaN,Somalia,5.152149,46.199616,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4491,NaN,Summer Olympics 2020,35.649100,139.773700,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4558,NaN,Syria,34.802100,38.996800,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4559,NaN,Taiwan*,23.700000,121.000000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4582,NaN,Tanzania,-6.369028,34.888822,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4712,NaN,Turkey,38.963700,35.243300,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4735,NaN,US,40.000000,-100.000000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4802,Anguilla,United Kingdom,18.220600,-63.068600,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4803,Bermuda,United Kingdom,32.307800,-64.750500,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4804,British Virgin Islands,United Kingdom,18.420700,-64.640000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4805,Cayman Islands,United Kingdom,19.313300,-81.254600,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4806,Channel Islands,United Kingdom,49.372300,-2.364400,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4807,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4808,Gibraltar,United Kingdom,36.140800,-5.353600,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4809,Guernsey,United Kingdom,49.448196,-2.589490,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4810,Isle of Man,United Kingdom,54.236100,-4.548100,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4811,Jersey,United Kingdom,49.213800,-2.135800,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4812,Montserrat,United Kingdom,16.742498,-62.187366,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4813,Pitcairn Islands,United Kingdom,-24.376800,-128.324200,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4814,"Saint Helena, Ascension and Tristan da Cunha",United Kingdom,-7.946700,-14.355900,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4815,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4816,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4883,NaN,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4884,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4885,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4886,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

export the population sheet and rename the country's according to country name in the recoveries dataset using manual search and replace in excel

In [38]:
CHE.to_csv(r'C:\PATH\CHE.csv')

after manual replacement is done, population data is ready for tableau, please note an average of year 2020 and 2021 are used in tableu to calculate recovery rate per 100,000 because there is only data for recoveries in that time period

In [42]:
#I used tableau to get the average CHE for each country by creating a calulated field called 'CHE' and exported the data. 
#import CHE after upating country names and obtaing avg CHE, to apppend CHE to recoveries dataset
CHE = pd.read_csv(r'C:\PATH\CHE_data.csv')

In [43]:
CHE.head()

  Country/Region     CHE
0         Tuvalu  19.415
1    Afghanistan  18.680
2             US  18.060
3        Liberia  16.795
4       Kiribati  15.900

In [48]:
#combinde CHE column with recoveries data
merged_df = Recoveries.merge(CHE, how='left',left_on=['Country/Region'], right_on=['Country/Region'], indicator=True)
merged_df = merged_df.drop(columns='_merge')
merged_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23,CHE
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,18.680
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7.395
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.835
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8.560
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.090

In [ ]:
#export megered CHE data and recoveries data to use for data visulaization in tableau
merged_df.to_csv(r'C:\PATH\time_series_covid19_recovered_global.csv')